<div class="card">
  <div class="header">
    <h1 class="title">Weather <%= sanitize "\&#9842;" if @cache %></h1>
    <h3 class="city"><%= @data.name unless @data.nil? %></h3>
  </div>
  <div class="body">
    <% if !@data.nil? %>
      <div class="centered">
        <%= @data.weather[0].main %><br/>
        <img src="<%= @data.weather[0].icon_uri %>"/></td>
      </div>
      <table>
        <tr>
          <th>Current:</th> <td><span  class="degree"><%= @data.main.temp.round(0) %></span> F</td>
        </tr>
        <tr>
          <th>Real Feel:</th> <td><span  class="degree"><%= @data.main.feels_like.round(0) %></span> F</td>
        </tr>
        <tr>
          <th>Min Temp:</th> <td><span  class="degree"><%= @data.main.temp_min.round(0) %></span> F</td>
        </tr>
        <tr>
          <th>Max Temp:</th> <td><span  class="degree"><%= @data.main.temp_max.round(0) %></span> F</td>
        </tr>
        <tr>
          <th>Humidity:</th> <td><%= @data.main.humidity %>%</td>
        </tr>
      </table>
    <% else %>
       <div>
         There was an issue obtaining the weather for zipcode!
       </div>
    <% end %>
  </div>
  <div class="footer">
    <%= form_tag(root_path, method: :get) do %>
      <div class="zipcode">
        <%= label_tag("Zipcode") %>
        <%= text_field_tag(:zipcode, @zipcode) %>
        <%= submit_tag(sanitize "&#128270;") %>
      </div>
    <% end %>
  </div>
</div>